body {
    background-color: #f1f1f1;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    color: #505050;
    line-height: 16.41px;
}

.container {
    padding: 0;
}

.wrapper {
    margin: 136px 32px 32px 32px;
}

header {
    background-color: #ffffff;
    left: 0;
    top: 0;
    width: 100%;
}

#header_main_nav, #header_nav {
    box-shadow: 0 1px 1px 0 #0000001A;
    width: 100%;
}

#show_all_img {
    padding-left: 4px;
}

#header_nav, #header_main_nav {
    padding-left: 32px;
}

#header_nav {
    background-color: #fafafa;
}

#header_nav li {
    margin: 0;
}

header nav {
    height: 40px;
}

h1 {
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
    text-align: left;
}

.h_span {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    padding-left: 7px;
}

#main_nav {
    right: 32px;
}

#main_nav img {
    height: 18px;
}

h4 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
    text-align: left;
}

.article_header {
    padding: 6px 16px 8px 16px;
}

#main_nav div {
    height: 48px;
    padding-left: 16px;
    padding-right: 16px;
    width: 60px;
}

#header_nav_settings {
    width: 378px;
}

#header_nav_settings div {
    padding-left: 16px;
    padding-right: 16px;
}

#navigation {
    height: 312px;
}

.section_settings img {
    padding-left: 10px;
    padding-right: 10px;;
}

header nav ul {
    height: 100%;
    margin: 0;
    padding: 0;
}

header nav li { 
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: left;
}

nav li {
    font-weight: 400;
    line-height: 16.41px;
}

#map_img {
    height: 400px;
    width: 100%;
}

.active_page {
    display: block;
}

.active_link {
    background-color: #f1f1f1;
}

section {
    display: none;
}

.left-block img{
    max-width: 120px;
}

#user_info {
    height: 294px;
    padding: 32px 50px 32px 50px;
}

#user_photo {
    border-radius: 50%;
    display: block;
    height: 132px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 132px;
}

.section_header {
    padding-bottom: 16px;
}

h3  {
    color: #505050;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 5px;
    margin-top: 5px;
}

.skills li {
    color: #8F8F8F;
    font-size: 14px;
}

#map, #time {
    background-color: #ffffff;
}

#map {
    height: 100%;
}

h2 {
    font-size: 16px;
}

#navigation, #share_thoughts, #user_info {
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    width: 264px;
}

#share_thoughts {
    padding-bottom: 16px;
}

.navigation_to_hide {
    padding: 16px;
}

.navigation_to_hide ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.navigation_to_hide li {
    display: flex;
    align-items: center;
}

.navigation_to_hide, .share_to_hide {   
    border-top: medium solid #f1f1f1;
}

.share_thoughts_input {
    border-radius: 4px;
    box-sizing: border-box;
    width: 232px;
}

#message_input {
    border: 1px solid #D3D8DE;
    display: block;
    height: 88px;
    padding: 8px 16px 8px 16px;
    margin: 8px 16px 8px 16px;
    resize: none;
}

#save_button {
    background-color: #5095EC;
    border: none;
    display: block;
    height: 32px;
    margin: auto;
}

.posts {
    display: inline-flex;
    gap: 32px;
}

.text_post {
    padding-bottom: 16px;
    padding-top: 16px;
}

.post_time {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
}

.posts + div {
    background-color: #f1f1f1;
}

.post, #user_nav article {
    background-color: #ffffff;
}

.post {
    padding-left: 32px;
    padding-right: 32px;
}

.img_post {
    padding-top: 32px;
    padding-bottom: 32px;
}

main {
    object-fit: cover;
}

#map, .post, #time, #user_nav article {
    box-shadow: 0 1px 2px 0 #0000001A;
}

#map, #time {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    padding: 16px 32px 32px 32px;
    text-align: left;
}

img {
    object-fit: contain;
}

.commenter a {
    color: #5095EC;
}

.comment {
    border-left: medium solid #D3D8DE;
    padding-left: 10px;
}

.comment_info {
    padding-top: 10px;
    color: #8F8F8F;
}

.comment_time {
    font-style: italic;
}

.text_post .text_comment {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
}

.commenter span {
    padding-left: 3px;
}

.loader {
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
    margin: 30px auto;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #337AB7;
    animation: loader-spin 2s linear infinite;
}

.loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BFE2FF;
    animation: loader-spin 3s linear infinite;
}

.loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #337AB7;
    animation: loader-spin 1.5s linear infinite;
}

@keyframes loader-spin {
    0%   {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
